@page "/Usuarios/Editar/{CodigoUsuario}"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AutenticationState">
         <h3>Editar Usuario</h3>
         <EditForm Model="@user">
             <DataAnnotationsValidator />

             <div class="form-group row">
                 <label form="CodigoUsuario" class="col-sm-2 col-form-label">
                     Código Usuario
                 </label>
                 <div class="col-sm-10">
                     <label form="CodigoUsuario" class="col-form-label">
                     @user.CodigoUsuario
                     </label>
                 </div>
             </div>

            <div class="form-group row">
                <label form="Nombre" class="col-sm-2 col-form-label">
                    Nombre
                </label>
                <div class="col-sm-10">
                    <InputText id="Nombre" class="form-control" @bind-Value="user.Nombre" />
                    <ValidationMessage For="@(() => user.Nombre)" />
                    
                </div>
            </div>

            <div class="form-group row">
                <label form="Contrasena" class="col-sm-2 col-form-label">
                    Contraseña
                </label>
                <div class="col-sm-10">
                    <InputText id="Contrasena" type="password" class="form-control" @bind-Value="user.Contrasena" />
                    <ValidationMessage For="@(() => user.Contrasena)" />
                </div>
            </div>

            <div class="form-group row">
                <label form="Correo" class="col-sm-2 col-form-label">
                    Correo
                </label>
                <div class="col-sm-10">
                    <InputText id="Correo" type="email" class="form-control" @bind-Value="user.Correo" />
                </div>
            </div>

            <div class="form-group row">
                <label form="Rol" class="col-sm-2 col-form-label">
                    Rol
                </label>
                <div class="col-sm-10">
                    <InputSelect class="form-control" @bind-Value="user.Rol">
                        @foreach(var rol in Enum.GetValues(typeof(Roles)))
                        {
                            <option value="@rol">@rol</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => user.Rol)" />
                </div>
            </div>

            <div class="form-group row">
                <label form="Foto" class="col-sm-2 col-form-label">
                    Foto
                </label>
                <div class="col-sm-10">
                    <InputFile OnChange="@SeleccionarImagen"  />
                    @if(user.Foto != null)
                    {
                        <img width="250" height="250" src="data:image;base64,@System.Convert.ToBase64String(user.Foto)" />
                    }
                    else
                    {
                        <img src="@imgUrl" width="250" height="250" />
                    }
                </div>
            </div>

            <div class="form-group row">
                <label form="FechaCreacion" class="col-sm-2 col-form-label">
                    Fecha Creación
                </label>
                <div class="col-sm-10">
                    <label form="FechaCreacion" class="col-form-label">
                        @user.FechaCreacion.ToShortDateString()
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <label form="EstaActivo" class="col-sm-2 col-form-label">
                    Esta Activo
                </label>
                <div class="col-sm-10">
                    <InputCheckbox @bind-Value="user.EstaActivo" />
                </div>
            </div>

            <div class="form-group row">
                <p>
                    <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar" />
                    <input type="submit" class="btn btn-danger" value="Cancelar" @onclick="Cancelar" />
                    <input type="submit" class="btn btn-warning" value="Eliminar" @onclick="Eliminar" />
                </p>
            </div>
         
        </EditForm>

    </Authorized>
    <NotAuthorized>
        <h3>No tiene permiso para entrar a esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>
